body{background-color: #f3f3f3;}
.aui-list-item-text {margin-bottom: 5px;}
.aui-btn-height-50px {height: 50px;line-height: 50px;}
.aui-border-gray {border: 1px solid gainsboro;}
.padding-5px {padding: 5px;}
.header-bottom{margin-top: 20%;}
.red-badge-26px{min-width: 26px;height: 26px;line-height: 26px;}
